body {
  background: #e3eaef;
  margin: 20px;
  color: #2185c5;
  font-family: Candara;
  text-align: center;
}

#vortex {
  background: #fff;
  border: solid 0.2em #fff;
  height: 90vh;
  width: 200vh;
}

div {
  padding: 10px;
}
/* body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}
canvas {
  background: #fff;
  border: solid 0.2em #fff;
  height: 90vh;
  width: 200vh;
} */

/* body {
  background: #e3eaef;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

canvas {
  background: #fff;
} */
